{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tarefas</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>

    <nav class="nav-main">
        <div class="nav-main-frame">
            <div>
                <a class="nav-bar-main-text" href="/">
                    To Do
                </a>
            </div>
            <div>
                <a class="nav-bar-info" href="#">
                    Sobre
                </a>
            </div>
        </div>
    </nav>

    <main class="main-content">
        <section class="main-section">
            <form action="#" class="main-form">
                <input type="text" name="search" placeholder="Pesquisar por uma tarefa" class="input-field">
                <button class="form-button" >
                    PESQUISAR
                </button>
            </form>
            <ul class="task-list">
                
                <!-- A função for irá criar um modelo para cada tarefa citada dentro do banco de dados -->
                {% for task in tasks %}
                <li class="list-items">
                <!-- Para importar importar informações advindas de um modelo é necessário que seja usado um link 'a', e indicar a informação a ser solicitada de acordo com os nomes do próprio modelo -->
                <span class="item-title">
                    <a href="/task/{{task.id}}">
                        {{task.title}}
                    </a>
                </span>
                <div>    
                    <span><i class="remove-button">Remover</i></span>
                    <span><i class="edit-button">Editar</i></span>
                </div>
                </li>
                {% endfor %}
            </ul>
        </section>
        
        <footer>
            <p class="info-text">Site criado por Anthony</p>
        </footer>
    
    </main>
</body>
</html>